.main__tags-list {
    display: flex;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
}

.main__tags-button a {   
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px 0 5px;
    background-color: steelblue;

    &:hover {
        color: black;
        padding: 9px;
        border: 1px solid black;
        background-color: white;
    }
}

.main__tags {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* .newletter__input {
    padding: 5px;
    border: none;
} */

.newsletter__button--suscribete {
    border: none;
    padding: 5px;
    color: white;
    background-color: coral;

    &:hover {
        color: black;
        padding: 4px;
        border: 1px solid black;
        background-color: white;
    }
}